@model daBoot.Models.Ticket

@{
    ViewData["Title"] = "Ticket";
}

<script>
    function popuptoggle(idname) {
        var x = document.getElementById(idname);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>


<div class="container p-3">
    @if (Model != null)
    {
    <div class="card">
        <a class="mb-3" href="/project/@Model.ProjectId"><i class="icon-arrow-left"></i> Back to project</a>
        <h1><i class="icon-ticket"></i>Subject: @Model.Subject</h1>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p><b>Priority:</b> @Model.Priority.PriorityName</p>
            </div>
            <div class="col-12 col-lg-6">
                <p><b>Id:</b> @Model.Id</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <span style="float:left;"><b>Submitter:</b> </span>
                <span class="chip">
                    <img src=@Model.Submitter?.ProfilePicURL alt="i">
                    <a href="/profile/@Model.Submitter?.Username">@((Model.Submitter?.FirstName ?? "").ToString()) @((Model.Submitter?.LastName ?? "").ToString())</a>
                </span>
            </div>
            <div class="col-12 col-lg-6">
                <p><b>Submitted On:</b> @((Model.SubmittedDateTime?.Date.ToString("dd MMM yyyy") ?? "").ToString())</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <span style="float:left;"><b>Assigner:</b> </span>
                @if (Model.Assigner == null)
                {
                    <span>Not Assigned</span>
                }
                else
                {
                    <span class="chip">
                        <img src=@Model.Assigner?.ProfilePicURL alt="i">
                        <a href="/profile/@Model.Assigner?.Username">@((Model.Assigner?.FirstName ?? "").ToString()) @((Model.Assigner?.LastName ?? "").ToString())</a>
                    </span>
                }
            </div>
            <div class="col-12 col-lg-6">
                <p><b>Assigned On:</b> @((Model.AssignedDateTime?.Date.ToString("dd MMM yyyy") ?? "").ToString())</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <span style="float:left;"><b>Assignee:</b> </span>
                @if (Model.Assignee == null)
                {
                    <span>Not Assigned</span>
                }
                else
                {
                    <span class="chip">
                        <img src=@Model.Assignee?.ProfilePicURL alt="i">
                        <a href="/profile/@Model.Assignee?.Username">@((Model.Assignee?.FirstName ?? "").ToString()) @((Model.Assignee?.LastName ?? "").ToString())</a>
                    </span>
                }
            </div>
            <div class="col-12 col-lg-6">
                <p><b>Deadline:</b> @((Model.Deadline?.Date.ToString("dd MMM yyyy") ?? "").ToString())</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p><b>Status:</b> @Model.Status.StatusName</p>
            </div>
            <div class="col-12 col-lg-6">
                <p><b>Status Updated On:</b> @Model.StatusUpdated.Date.ToString("dd MMM yyyy")</p>
            </div>
        </div>
        <h5 class="mt-3">Description</h5>
        <p width="100%">@Model.Description</p>

        <div class="row mt-3 mb-3 mr-3" style="margin-left: auto; display: flex; justify-content: space-between; ">
            @if (ViewData["UserRole"].ToString() == "Dev" || ViewData["UserRole"].ToString() == "Lead")
            {
                <button title="invite" class="mr-2 btn btn-primary" onclick="popuptoggle('assignpopup')">Assign to</button>
            }
            @if (Model.Assignee?.Username == User.Claims.FirstOrDefault(c => c.Type == "username").Value)
            {
                <button title="invite" class="btn btn-primary" onclick="popuptoggle('statuspopup')">Update status</button>
            }
        </div>


        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-4">
                <div id="assignpopup" style="display: none;" class="mb-3">
                    <form action="/assign?ticketid=@Model.Id" method="post" id="assignform">
                        <select class="form-select" id="assignpopupSelect" title="selection" form="assignform" name="userid">
                            <option selected>Assign to</option>
                            @if ((IEnumerable<Account>)ViewData["AssigneeCandidate"] != null)
                            {
                                foreach (var teammember in (IEnumerable<Account>)ViewData["AssigneeCandidate"])
                                {
                                    <option value=@teammember.Id>@teammember.FirstName @teammember.LastName (@@@teammember.Username)</option>
                                }
                            }
                        </select>
                        @if (Model.Deadline == null)
                        {
                            <input type="date" class="form-control" id="deadline" name="deadline" required>
                        }
                        else
                        {
                            <input type="date" class="form-control" id="deadline" name="deadline" value="@Model.Deadline.ToString()" required>
                        }
                        <input type="submit" class="btn btn-success form-control" />
                    </form>
                </div>
                <div id="statuspopup" style="display: none;" class="mb-3">
                    <form action="/statusupdate?ticketid=@Model.Id" method="post" id="statusform">
                        <select class="form-select" id="statuspopupSelect" title="selection" form="statusform" name="statusid">
                            <option selected>Change status to</option>
                            @if ((IEnumerable<Status>)ViewData["StatusCandidate"] != null)
                            {
                                foreach (var validstatus in (IEnumerable<Status>)ViewData["StatusCandidate"])
                                {
                                    <option value=@validstatus.Id>@validstatus.StatusName</option>
                                }
                            }
                        </select>
                        <input type="submit" class="btn btn-success form-control" />
                    </form>
                </div>
            </div>
        </div>



        <h5 class="mt-3">Comments</h5>
        <table class="table table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <td width="100%" style="vertical-align:middle;">
                        <form action="/newcomment/?ticketid=@Model.Id" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Comment here" name="commentstr" id="commentform">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Post</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.Comments.OrderBy(u => u.CommentTimeStamp))
                {
                    <tr>
                        <td width="100%" style="vertical-align:middle;">
                            <span style="float:left;">
                                <strong><a href="/profile/@comment.CommentUser.Username">@comment.CommentUser.FirstName @comment.CommentUser.LastName</a></strong>
                            </span>
                            <span style="float:right;">
                                <em>@comment.CommentTimeStamp.ToString("dd MMM yyyy hh:mm tt")</em>
                            </span><br />
                            <p style="float:left;">@comment.CommentString</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    else
    {
        <h1>No ticket found, or you have no permission to view it.</h1>
    }
</div>
